#menu {
  margin: 0;
  padding: 0;
  font: bold 1em "georgia", verdana;
  list-style-type: none;
}
#menu a {
  color: #508768;
  text-decoration: none;
}
#menu a:hover,
#menu a:focus {
  color: #bdd7b5;
  font-size: 3rem;
}
#menu a:visited {
  color: #cee0c9;
}
