@import "./../_colors";
body {
  margin: 0;
  padding: 0;
  nav {
    width: 300px;
    ul {
      display: flex;
      height: 18px;
      background-color: $menu-bg-color;
      list-style-type: none;
      li {
        margin-left: 5px;
        ul {
          display: flex;
          flex-direction: column;
          visibility: hidden;
          padding: 0;
          background: none;
          > li {
            background-color: $hidden-menu-bg-color;
            margin: 0;
            padding-top: 2px;
            a {
              color: $link-color;
              text-decoration: none;
            }
          }
        }
        &:hover {
          ul {
            visibility: visible;
          }
        }
      }
    }
  }
}
